force-app/main/default/flows/Flow_Movie_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AppendActor</name>
        <label>AppendActor</label>
        <locationX>270</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>CastCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateCast.Actor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateCast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Record</name>
        <label>Assign New Record</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Add_Record.Actor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateRecordLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Add_Record.Movie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Movies.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Add_Record.Price_Per_Hour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateRecordLoop.Price_Per_Hour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Add_Record.Character__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_character</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Assign</name>
        <label>Collection Assign</label>
        <locationX>270</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>Add_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRecordLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Cast</name>
        <label>Increment Cast</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CountCast</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountCastsLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_actor_number</name>
        <label>Check for actor number</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>AvailableFrom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_actors_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCast</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Movies.Script__r.Number_of_Actors__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_more_actors</targetReference>
            </connector>
            <label>No actors needed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cast Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Cast Flow Final Version</label>
    <loops>
        <name>CountCastsLoop</name>
        <label>CountCastsLoop</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>CurrentMovieCast</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Cast</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_actor_number</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CreateRecordLoop</name>
        <label>CreateRecordLoop</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <collectionReference>ActorsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actor_Character</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Actor</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterateCast</name>
        <label>IterateCast</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <collectionReference>CurrentMovieCast</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>AppendActor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Actor</name>
        <label>Add Actor</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Success_message</targetReference>
        </connector>
        <inputReference>Add_Record_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CurrentMovieCast</name>
        <label>CurrentMovieCast</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountCastsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovieRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cast__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Available_Actors_Screen</targetReference>
        </connector>
        <filterLogic>( 1 OR 2 ) AND ( 3 AND 4 )</filterLogic>
        <filters>
            <field>Available_From__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>AvailableFromDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_From__c</field>
            <operator>IsNull</operator>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>CastCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Movies</name>
        <label>Get Movies</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentMovieCast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovieRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movie__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Actor_Character</name>
        <label>Actor Character</label>
        <locationX>270</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Record</targetReference>
        </connector>
        <fields>
            <name>Choose_character</name>
            <dataType>String</dataType>
            <fieldText>Choose character for {!CreateRecordLoop.Name}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Available_Actors_Screen</name>
        <label>Available Actors Screen</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateRecordLoop</targetReference>
        </connector>
        <fields>
            <name>ActorsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7a6d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AvailableFrom</name>
        <label>Available From</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IterateCast</targetReference>
        </connector>
        <fields>
            <name>AvailableFromDate</name>
            <dataType>Date</dataType>
            <fieldText>AvailableFromDate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_more_actors</name>
        <label>No more actors</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AvailableFrom</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;No more actors needed. Press Next button to add additional backup actors&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_message</name>
        <label>Success message</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_msg</name>
            <fieldText>&lt;p&gt;Actors were added to movie cast&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Movies</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Add_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>Add_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>CastCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountCast</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_actors_already_in_movie</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterActors</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>MovieRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
